## Load table retro from Cass uat

In [1]:
import csv
import pandas as pd
df1 = pd.read_csv('retro.csv', sep=',')
df1.head()

,id_dim_personne,annee_mois,annee_mois_m_x,cible_encours_predit,cible_reelle,date_entree_relation,delai_transfo,encours,id_dim_temps,identifiant_web,score_prospect_encours,x_mois_anterieurs_cumules
0,7367350880,201703,20170330,1,0,2017-02-28 00:00:00+0000,NaN,246.37,2017-02-28,46557377,0.750344,1
1,7423237535,201704,20170406,1,0,2017-03-09 00:00:00+0000,NaN,380.00,2017-03-09,89137569,0.853951,1
2,7576677073,201705,20170504,0,0,2017-04-05 00:00:00+0000,NaN,220.96,2017-04-05,19787090,0.219903,1
3,7319308930,201703,20170316,1,0,2017-02-19 00:00:00+0000,NaN,10.00,2017-02-19,54097163,0.577456,1
4,7478891061,201704,20170419,1,0,2017-03-20 00:00:00+0000,NaN,0.00,2017-03-20,76707761,0.765792,1

In [ ]:
#Delete Unnecessary fields
del df1['annee_mois']
del df1['annee_mois_m_x']
del df1['cible_encours_predit']
del df1['date_entree_relation']
del df1['delai_transfo']
del df1['id_dim_temps']
del df1['identifiant_web']
del df1['score_prospect_encours']
del df1['x_mois_anterieurs_cumules']
df1['cible']=df1['cible_reelle']
del df1['cible_reelle']

In [ ]:
#Retro table
df1.head()

## Load ref prospect from cassandra uat

In [ ]:
df2 = pd.read_csv('ref_prospect.csv', sep=',')
df2.head()

In [ ]:
#Merge ref prospect and retro  
df = pd.merge(df2, df1, right_on='id_dim_personne', left_on='contactid')
df.head()

In [ ]:
#df.to_csv('lignes_supp.csv', sep=',')

### Load old df

In [ ]:
df_initial = pd.read_csv('df_new_initial.csv', sep=',')
df_initial.head()

In [ ]:
#Concat old df with the new one from uat
frames = [df_initial, df]
result = pd.concat(frames)
result=result.reset_index()
del result['index']

In [ ]:
# The final df containing more data
result.head()

In [ ]:
#result.to_csv('result.csv', sep=',', encoding='utf-8')

## Joindre parrain 14 milles

In [4]:
df_pp = pd.read_csv('Parrain_id_res_requete.csv', sep=',')
df_pp.head()

      id_parain  id_dim_personne
0  2.331968e+09       7167751575
1           NaN       7167807625
2           NaN       7173385938
3           NaN       7183362884
4           NaN       7183370804

In [5]:
# is not imported
df_ee = pd.read_csv('ecours_parrain_res_requete.csv', sep=',')
df_ee.head()

IOError: File ecours_parrain_res_requete.csv does not exist

In [ ]:
# Merge enriched_df with encours selon le id_parain 
df_pp_merged = pd.merge(df_pp, df_ee, right_on='id_parrain', left_on='id_parain', how='left')

In [ ]:
df_pp_merged

In [ ]:
del df_pp_merged['id_parain']
del df_pp_merged['sid_parrai']

In [ ]:
df_pp_merged

In [ ]:
#df_pp_merged.to_csv('parrain_14mille.csv', sep=',', encoding='utf-8')

## jointure ancienne table pour parrain

In [6]:
## Charger l'id du parrain
df_parrain = pd.read_csv('Parrain_nouv.csv', sep=',', encoding='utf-8')
df_parrain.head(5)

   id_dim_personne     id_parain
0       1004250808  2.241080e+08
1       1660202716           NaN
2       1715100837  1.697959e+09
3       1725735525           NaN
4       1748840201  8.146321e+08

In [7]:
## Charger encours parrain
encours_p = pd.read_csv('encours_parrain_nouv.csv', sep=';')
encours_p.head(10)

   encours_parrain  sid_parrai  id_parrain
0         15221.23     1976844  3310222733
1             9.05     1514352  2413380188
2          8402.57     2890682  5407353163
3         12150.39     3508176  6704932886
4           160.28     3310392  6186339895
5           216.77     2520584  4490095526
6           938.50     2161229  3714457782
7           580.56     2597587  4660573381
8           521.63     2611982  4681059552
9             0.00     1258798  1980333969

In [8]:
# Merge enriched_df with encours selon le id_parain 
df_merged = pd.merge(df_parrain, encours_p, right_on='id_parrain', left_on='id_parain', how='left')

In [9]:
del df_merged['id_parain']
del df_merged['sid_parrai']

In [10]:
df_merged

       id_dim_personne  encours_parrain    id_parrain
0           1004250808          2475.93  2.241080e+08
1           1660202716              NaN           NaN
2           1715100837          2736.14  1.697959e+09
3           1725735525              NaN           NaN
4           1748840201          1311.33  8.146321e+08
5           1766903833          1498.94  2.797564e+08
6           1887361163              NaN           NaN
7           1989548372         16516.12  1.963780e+09
8           2232679265              NaN           NaN
9           2260529045              NaN           NaN
10          2364644331          8960.94  2.021359e+09
11          2381429055              NaN           NaN
12          2997328175          3914.21  2.189012e+09
13          3294911605           761.01  5.417212e+09
14          3491258034              NaN           NaN
15          3705902288          1803.34  2.487195e+09
16          3878342197              NaN           NaN
17          4141010655          4802.21  3.447172e+08
18          4223249842              NaN           NaN
19          4252943190            58.04  5.889654e+09
20          4253839485              NaN           NaN
21          4406550122              NaN           NaN
22          4409310817              NaN           NaN
23          4428098087              NaN           NaN
24          4544429677         20419.89  2.455456e+09
25          4571148440         10760.89  3.768996e+09
26          4613670658          2029.94  5.686755e+09
27          4881973309              NaN           NaN
28          4899596466         29985.80  1.431882e+09
29          4900569192            10.01  6.300487e+09
...                ...              ...           ...
29582       7045956928          1330.00  6.742720e+09
29583       7045965884            10.00  6.251097e+09
29584       7045970756              NaN           NaN
29585       7045971718              NaN           NaN
29586       7045974758           391.20  3.994897e+09
29587       7045977283              NaN           NaN
29588       7045988559              NaN           NaN
29589       7045998683              NaN           NaN
29590       7046015571              NaN           NaN
29591       7046018270           731.37  6.455440e+09
29592       7046019531             0.10  3.017678e+09
29593       7046024013             0.00  2.968870e+09
29594       7046024991          1231.93  6.255849e+09
29595       7046030727           681.00  6.855632e+09
29596       7046044317              NaN           NaN
29597       7046050380         25625.53  4.680936e+09
29598       7046058188              NaN           NaN
29599       7046062099              NaN           NaN
29600       7046071919              NaN           NaN
29601       7046072285              NaN           NaN
29602       7051783069           290.17  4.553500e+04
29603       7051855560           167.00  6.890154e+09
29604       7051875345              NaN           NaN
29605       7051902653          3723.61  3.796745e+09
29606       7052186354              NaN           NaN
29607       7052320670              NaN           NaN
29608       7052369409              NaN           NaN
29609       7052405660              NaN           NaN
29610       7052416014             0.00  4.133891e+09
29611       7052445196              NaN           NaN

[29612 rows x 3 columns]

In [ ]:
df_merged.to_csv('parrain_before14milles.csv', sep=',', encoding='utf-8')

In [ ]:
parrain_frames = [df_merged, df_pp_merged]
result_p = pd.concat(parrain_frames)
result_p =result_p.reset_index()
del result_p['index']

In [ ]:
### final df with parrain "encours" (uat + old) 
result_p

In [ ]:
result_p.to_csv('parrain_totale_afteradd14.csv', sep=',', encoding='utf-8')

### INSEE TEST

In [11]:
insee = pd.read_csv('insee_code.csv', sep=',')
insee.count()

Commune        39147
Code_postal    39146
Departement    39147
Code_INSEE     39147
dtype: int64

In [12]:
### Convert int colomn to str
insee['Code_INSEE']=insee['Code_INSEE'].astype('str')
dfi = insee[insee.Code_INSEE == "1004"]
dfi

               Commune  Code_postal Departement Code_INSEE
346  AMBERIEU EN BUGEY       1500.0         AIN       1004

In [13]:
df2 = insee[insee.Code_postal == 1000.0]
df2

              Commune  Code_postal Departement Code_INSEE
0     BOURG EN BRESSE       1000.0         AIN       1053
1  ST DENIS LES BOURG       1000.0         AIN       1344
2                BROU       1000.0         AIN       1914

In [13]:
## Charger encours parrain
Revenue_insee = pd.read_csv('Referentiel1.csv', sep=',')
Revenue_insee.count()

Code_geographique                         5136
Libelle_geographique                      5136
Salaire_net_horaire_moyen_en_2014_euro    5136
dtype: int64

In [14]:
dfii = Revenue_insee[Revenue_insee.Code_geographique == "1344"]
dfii

,Code_geographique,Libelle_geographique,Salaire_net_horaire_moyen_en_2014_euro
55,1344,Saint-Denis-lès-Bourg,"13,9"

In [15]:
### Merge adress with insee code
df_merged_insee = pd.merge(Revenue_insee, insee, right_on='Code_INSEE', left_on='Code_geographique', how='left')

In [16]:
test = df_merged_insee[df_merged_insee.Code_postal == 1500.0]
test

,Code_geographique,Libelle_geographique,Salaire_net_horaire_moyen_en_2014_euro,Commune,Code_postal,Departement,Code_INSEE
0,1004,Ambérieu-en-Bugey,"13,7",AMBERIEU EN BUGEY,1500.0,AIN,1004
1,1007,Ambronay,"13,5",AMBRONAY,1500.0,AIN,1007
56,1345,Saint-Denis-en-Bugey,"13,2",ST DENIS EN BUGEY,1500.0,AIN,1345

In [17]:
df_merged_insee.count()

Code_geographique                         5372
Libelle_geographique                      5372
Salaire_net_horaire_moyen_en_2014_euro    5372
Commune                                   5343
Code_postal                               5343
Departement                               5343
Code_INSEE                                5343
dtype: int64

In [18]:
del df_merged_insee['Libelle_geographique']
del df_merged_insee['Departement']
df_merged_insee['Code_INSEE']
del df_merged_insee['Commune']
del df_merged_insee['Code_geographique']

In [19]:
df_merged_insee['Salaire_net_horaire_moyen_en_2014_euro'] = df_merged_insee['Salaire_net_horaire_moyen_en_2014_euro'].map(lambda x: x.replace(',','.') if x else None).astype(float)

In [20]:
df_merged_insee.head()

   Salaire_net_horaire_moyen_en_2014_euro  Code_postal Code_INSEE
0                                    13.7       1500.0       1004
1                                    13.5       1500.0       1007
2                                    13.5       1100.0       1014
3                                    12.9       1340.0       1024
4                                    13.0       1380.0       1025

In [21]:
del df_merged_insee['Code_INSEE']

In [22]:
df_merged_insee = df_merged_insee.groupby('Code_postal').min().reset_index()

In [23]:
df_merged_insee.count()

Code_postal                               4012
Salaire_net_horaire_moyen_en_2014_euro    4012
dtype: int64

In [24]:
df222 = df_merged_insee[df_merged_insee.Code_postal == 1500]
df222

    Code_postal  Salaire_net_horaire_moyen_en_2014_euro
31       1500.0                                    13.2

In [25]:
df_merged_insee.to_csv('Revenue_INSEE.csv', sep=',', encoding='utf-8')

In [15]:
df_initial = pd.read_csv('result.csv', sep=',')
del df_initial['Unnamed: 0']
df_initial.count()
#6546762003,6538955961

contactid                 44548
annee_mois                30217
campagne                  44183
campaign                  44183
civilite                  37791
code_postal               38577
code_postal_naissance     44219
country_connexion_name    43753
csp                       44548
date_naissance            38577
debit_cb                  10847
firstnamesponsor          19033
flag_banque_principale    44548
flag_epargne              44511
id_dim_temps              41565
mail                      38577
mailing_accord            38577
namesponsor               19033
nature_cb                 10847
patrimoine                44548
pays                      38577
pays_naissance            44219
regime_matrimonial        44548
revenus_annuels           44548
service                   44548
timestamp                 44548
id_dim_personne           44548
encours                   43554
cible                     44548
dtype: int64

In [27]:
df_initial.count()

contactid                 44548
annee_mois                30217
campagne                  44183
campaign                  44183
civilite                  37791
code_postal               38577
code_postal_naissance     44219
country_connexion_name    43753
csp                       44548
date_naissance            38577
debit_cb                  10847
firstnamesponsor          19033
flag_banque_principale    44548
flag_epargne              44511
id_dim_temps              41565
mail                      38577
mailing_accord            38577
namesponsor               19033
nature_cb                 10847
patrimoine                44548
pays                      38577
pays_naissance            44219
regime_matrimonial        44548
revenus_annuels           44548
service                   44548
timestamp                 44548
id_dim_personne           44548
encours                   43554
cible                     44548
dtype: int64

In [28]:
df_merged_finale = pd.merge(df_initial, df_merged_insee, right_on='Code_postal', left_on='code_postal', how='left')

In [29]:
df_merged_finale.count()

contactid                                 44548
annee_mois                                30217
campagne                                  44183
campaign                                  44183
civilite                                  37791
code_postal                               38577
code_postal_naissance                     44219
country_connexion_name                    43753
csp                                       44548
date_naissance                            38577
debit_cb                                  10847
firstnamesponsor                          19033
flag_banque_principale                    44548
flag_epargne                              44511
id_dim_temps                              41565
mail                                      38577
mailing_accord                            38577
namesponsor                               19033
nature_cb                                 10847
patrimoine                                44548
pays                                      38577
pays_naissance                            44219
regime_matrimonial                        44548
revenus_annuels                           44548
service                                   44548
timestamp                                 44548
id_dim_personne                           44548
encours                                   43554
cible                                     44548
Code_postal                               34098
Salaire_net_horaire_moyen_en_2014_euro    34098
dtype: int64

In [ ]:
#df_merged_in = df_merged_insee.dropna()

In [ ]:
#df_merged_in=df_merged_in.reset_index()

In [30]:
df_merged_finale.to_csv('Revenue.csv', sep=',', encoding='utf-8')

In [ ]:
df_merged_in
del df_merged_in['index']

In [ ]:
df_merged_in

In [3]:
from encours_modules.cassandra_client import CassandraClient, config

ImportError: No module named encours_modules.cassandra_client